@use '../../abstract/variables' as *;

.home{
    .hero{
        padding-block:100px;
        .hero-grid{

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 50px;
            align-items:center;

            .hero-text{
                h1{
                    font-size:41px;
                    margin-bottom:20px;
                }//h1
    
                p{
                    margin-bottom:30px;
                }//p
    
                .hero-actions{
                    display:flex;
                    gap:15px;
                    font-size: 1.55rem;
                }//hero-actions
            }//hero-text

            .hero-image{                
                .hero-card{
                    color: $dark;
                    background:white;
                    box-shadow:0 8px 30px rgba(0,0,0,0.15);
                    padding:25px;
                    border-radius:10px;
                    display:flex;
                    flex-direction:column;
                    gap:10px;
                }//hero-card

            }//hero-image

        }//hero-grid

    }//hero


}//home












.features{
padding:90px 0;
text-align:center;
}

.features-grid{
margin-top:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
gap:25px;
}

.card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.05);
}

.how{
background:#eef3fa;
padding:90px 0;
text-align:center;
}

.steps{
display:flex;
justify-content:center;
gap:40px;
margin-top:40px;
}

.step{
background:white;
padding:25px;
border-radius:10px;
width:200px;
}

.agency{
padding:90px 0;
text-align:center;
}

.agency-box{
background:white;
padding:50px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.business{
background:#0A4DA3;
color:white;
padding:90px 0;
text-align:center;
}

footer{
background:#111;
color:white;
padding:50px 0;
margin-top:60px;
}

.footer{
display:flex;
justify-content:space-between;
}