@use '../../abstract/variables' as *;


  

   

.hero{
background:linear-gradient(135deg,#0A4DA3,#1C6ED5);
color:white;
padding:100px 0;
}

.hero-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
align-items:center;
}

.hero h1{
font-size:42px;
margin-bottom:20px;
}

.hero p{
margin-bottom:30px;
}

.hero-actions{
display:flex;
gap:15px;
}



.btn-outline{
background:white;
border:none;
padding:12px 22px;
border-radius:6px;
}

.hero-card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 8px 30px rgba(0,0,0,0.15);
color:#333;
display:flex;
flex-direction:column;
gap:10px;
}

.hero-card input{
padding:10px;
border:1px solid #ddd;
border-radius:6px;
}

.hero-card button{
background:#FF7A00;
border:none;
padding:10px;
color:white;
border-radius:6px;
}

.features{
padding:90px 0;
text-align:center;
}

.features-grid{
margin-top:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
gap:25px;
}

.card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.05);
}

.how{
background:#eef3fa;
padding:90px 0;
text-align:center;
}

.steps{
display:flex;
justify-content:center;
gap:40px;
margin-top:40px;
}

.step{
background:white;
padding:25px;
border-radius:10px;
width:200px;
}

.agency{
padding:90px 0;
text-align:center;
}

.agency-box{
background:white;
padding:50px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.business{
background:#0A4DA3;
color:white;
padding:90px 0;
text-align:center;
}

footer{
background:#111;
color:white;
padding:50px 0;
margin-top:60px;
}

.footer{
display:flex;
justify-content:space-between;
}