@use '../../abstract/variables' as *;

.home{
     section{        
        padding-block:90px;        
    }//section

    .hero{
        padding-block:100px;
        .hero-grid{

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 50px;
            align-items:center;

            .hero-text{
                text-align: left !important;
                h1{
                    font-size:41px;
                    margin-bottom:20px;
                }//h1
    
                p{
                    margin-bottom:30px;
                }//p
    
                .hero-actions{
                    display:flex;
                    gap:15px;
                    font-size: 1.55rem;
                }//hero-actions
            }//hero-text

            .hero-image{                
                .hero-card{
                    color: $dark;
                    background:white;
                    box-shadow:0 8px 30px rgba(0,0,0,0.15);
                    padding:25px;
                    border-radius:10px;
                    display:flex;
                    flex-direction:column;
                    gap:10px;
                }//hero-card

            }//hero-image

        }//hero-grid

    }//hero

    
    .features{
        text-align:center !important;

        .features-grid{
            margin-top:40px;
            display:grid;
            grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
            gap:25px;

            .feature {
                padding: 20px;

                .icon {
                    font-size: 32px;
                    margin-bottom: 10px;
                    color: $success;
                    color: linear-gradient(135deg,$dark,$success);
                }//icon

                p{
                    font-size: 1.45rem;
                }

            }//feature

        }//feature-grid
    }//features

    .how{
        background:$success;
        text-align:center;
    
        .title{
            color: $white;
        }
    
        .steps{
            display:flex;
            justify-content:center;
            flex-wrap: wrap;
            gap:40px;
            margin-top:40px;
            
            .step{
                background:$white;
                padding:20px;
                border-radius:10px;
                width:200px;
                box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
                font-weight: 600;
                
                h3{
                    font-size: 3rem;
                    color: $success;
                }

                p{
                    color: $gray;
                }

            }//step
    
        }//steps
    }//how

    .business{
        background: rgba($color: $mute, $alpha: .3);    
        text-align:center;
    }//business

}//home










footer{
background:#111;
color:white;
padding:50px 0;
}

.footer{
display:flex;
justify-content:space-between;
}