<div class="notification-wrapper">

	<div id="notifToggle" class="notification-icon">
		🔔
		<span class="badge">3</span>
	</div>

	<div id="notifDropdown" class="notification-dropdown">

		<div class="notif-item">
			Nouvelle réservation
		</div>

		<div class="notif-item">
			Colis arrivé
		</div>

		<div class="notif-item">
			Paiement confirmé
		</div>

	</div>

</div>
