<aside class="sidebar" id="sidebar">

	<div class="sidebar-header">
		<span class="logo-text">MYDIGITRANS</span>
		<button id="collapseBtn" class="collapse-btn js-desktop">
			<i class="fa-solid fa-arrow-left"></i>
		</button>
		<button id="collapseMobile" class="collapse-btn js-mobile">
			<i class="fa-solid fa-arrow-left"></i>
		</button>
	</div>
	<!--header-->

	<nav class="menu">
		{% include "admin/partials/menu/_agency.html.twig" %}
	</nav>
	<!--menu-->

	<div class="sidebar-footer">
		<a href="" class="menu-link" data-tooltip="Déconnexion">
			<span class="icon">
				<i class="fa-solid fa-right-from-bracket"></i>
			</span>
			<span class="text">Déconnexion</span>
		</a>
	</div>
	<!--side-footer-->

</aside>