<header class="topbar">

	<button id="mobileToggle" class="mobile-toggle">☰</button>

	<div class="topbar-right">

		{% include 'admin/partials/_notifications.html.twig' %}

		<button id="darkToggle" class="dark-toggle">🌙</button>

		<div class="user-info">
			tshisdaniel@gmail.com
		</div>

	</div>

</header>
