@use'../../abstract/variables' as *;

body#admin{

    transition: background 0.3s, color 0.3s;
    
    .admin-layout{
        
        /**Pour placer le sidebar et le contenu cote à cote*/
        display: flex;
        height: 100dvh; /* Utilise la hauteur dynamique de l'écran */
        width: 100%;
        position: relative;
        overflow: hidden; /* EMPECHE LE LAYOUT DE SCROLLER */

        .main-wrapper{
    
            min-height: 100vh;
            min-height: 100vdh;
            display: flex;
            flex-direction: column;
            
            scroll-behavior: smooth; /* Pour des ancres fluides */
            -webkit-overflow-scrolling: touch; /* Pour un défilement fluide sur iPhone/iPad */
    
    
            /**pour laisser la place au navbar fixed*/
            padding-top: 0;
            margin-left: 240px;
    
            //background: rgba($color: $mute, $alpha: .15);
            color: $dark;
    
            .admin-footer{
                margin-top: auto;
            }
    
    
        }//main-wrapper
    
    
        /* ===============================
            COLLAPSED MODE
        =================================*/
            &.collapsed{
            
                .sidebar {
                    width: 70px;
                    
                    .sidebar-header {
                        justify-content: center;
            
                        .collapse-btn {
                            transform: rotate(180deg);
                        }//collapse-btn
            
                    }//sidebar-header
                    
                    .menu{
                        
                        .menu-link {
                            position: relative;
                            justify-content: center;
                            overflow: visible; 
                            
                
                            &::after {
                                content: attr(data-tooltip); /* Utilise ton attribut HTML */
                                position: fixed; /* 'fixed' permet de sortir de l'overflow du menu */
                                left: 80px; /* Position juste à côté de la barre de 70px */
                                background-color: $dark;
                                color: $white;
                                padding: 8px 12px;
                                border-radius: 5px;
                                font-size: 13px;
                                white-space: nowrap;
                                opacity: 0;
                                pointer-events: none;
                                transition: opacity 0.2s ease, transform 0.2s ease;
                                transform: translateX(-10px); /* Petit effet de glissement */
                                box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
                                z-index: 9999; /* Au-dessus de tout */
                            }//:after
                
                            &:hover {
                                background: $dark; // Le fond du lien change
                                padding: 1.3rem;
                                margin-right: 1rem;
                                
                                &::after {
                                    opacity: 1; // On cible le ::after DU lien survolé
                                    visibility: visible;
                                    transform: translateX(0);
                                }
                            }//&:hover:
                
                        }//menu-link
        
        
                    }//menu
                    
                    .sidebar-footer{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .menu-link{
        
                            padding: none;
        
                        }//menu-link
        
                    }//sidebar-footer
                    
                    
                }//sidebar
            
                .text,
                .logo-text {
                    display: none;
                }//text,long-text
            
                .main-wrapper{
                    margin-left: 70px !important;
                    transition: width 0.3s ease;
                }//main-wrapper

                @media(max-width:900px){
                    .sidebar {
                        width: 240px; /* on évite mini en mobile */
                    // transform: translateX(-100%);
                            
                        .sidebar-header {
                            justify-content:space-between;
                
                            .collapse-btn {
                                transform: rotate(360deg);
                            }//collapse-btn
                
                        }//sidebar-header
                            
                        .menu{
                            .menu-link {
                                position: relative;
                                justify-content: flex-start;
                                overflow: visible; 
                                
                    
                                &::after {
                                    display: none !important;
                                }//:after
                    
                                &:hover {
                                    display: none !important;
                                }//&:hover:
                    
                            }//menu-link
                        }//menu
                            
                        .sidebar-footer{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            .menu-link{

                                padding: none;

                            }//menu-link

                        }//sidebar-footer
                            
                            
                    }//sidebar

                    .main-wrapper{
                        margin-left: 0 !important;
                    }//main-wrapper

                    .text,
                    .logo-text {
                        display: block;
                    }//text,long-text

                }//max-width:900
            
            }//.admin-layout.collapsed
    
        /*======COLLAPSED MODE===========*/


        @media (max-width: 900px) {

        display: flex;
            overflow: hidden;
            height: 100vh;

            .main-wrapper{
                margin-left: 0 !important;
            }//main-wrapper


        }//@media (max-width: 900px)
    
        
    }//admin-layout

    /* ===============================
    DARK MODE
    =================================*/
        &.dark {
            background-color: $dm-bg-main;
            color: $dm-text;

            &::-webkit-scrollbar-thumb {
                background: rgba($success, 0.5); // Apparaît doucement au survol
            }//::-webkit-scrollbar-thumb

            .sidebar,
            .topbar,
            .card,
            .admin-footer,
            .notification-dropdown {
                background: $dm-bg-surface;
                background: darken($success,33%);
                color: $white;
                border-color: $mute;
            }//     
            
            .main-wrapper{
                background: darken($success,33%);
                background: $dm-bg-surface;
            }

        }//&.dark

    //===== Dark mode=====/

    /* ===============================
    MAIN WRAPPER
    =================================*/
        .main-wrapper {
            width: 100%;
            position: relative !important;
            overflow: auto;
            background: rgba($color: $mute, $alpha: .25);
        }//.main-wrapper

    //===== main-wrapper=====/


    /* ===============================
    CONTENT
    =================================*/
        .card {
            background: #ffffff;
            padding: 20px;
            border-radius: 14px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.05);
        }//card

    /* ===============================
    FOOTER
    =================================*/
        .admin-footer {
            background: #ffffff;
            border-top: 1px solid #e5e7eb;
            padding: 15px;
            text-align: center;
            font-size: 13px;
            color: #6b7280;
        }//admin-footer

}//#admin





