@use'../../abstract/variables' as *;

body#admin{

    transition: background 0.3s, color 0.3s;
    
    .admin-layout{
        
        /**Pour placer le sidebar et le contenu cote à cote*/
        display: flex;
        height: 100dvh; /* Utilise la hauteur dynamique de l'écran */
        width: 100%;
        position: relative;
        overflow: hidden; /* EMPECHE LE LAYOUT DE SCROLLER */

        .main-wrapper{
    
            min-height: 100vh;
            min-height: 100vdh;
            display: flex;
            flex-direction: column;
            
            scroll-behavior: smooth; /* Pour des ancres fluides */
            -webkit-overflow-scrolling: touch; /* Pour un défilement fluide sur iPhone/iPad */
    
    
            /**pour laisser la place au navbar fixed*/
            padding-top: 0;
            margin-left: 240px;
    
            //background: rgba($color: $mute, $alpha: .15);
            color: $dark;
    
            .admin-footer{
                margin-top: auto;
            }
    
    
        }//main-wrapper
    
    
        /* ===============================
            COLLAPSED MODE
        =================================*/
            &.collapsed{
            
                .sidebar {
                    width: 70px;
                    
                    .sidebar-header {
                        justify-content: center;
            
                        .collapse-btn {
                            transform: rotate(180deg);
                        }//collapse-btn
            
                    }//sidebar-header
                    
                    .menu{
                        
                        .menu-link {
                            position: relative;
                            justify-content: center;
                            overflow: visible; 
                            
                
                            &::after {
                                content: attr(data-tooltip); /* Utilise ton attribut HTML */
                                position: fixed; /* 'fixed' permet de sortir de l'overflow du menu */
                                left: 80px; /* Position juste à côté de la barre de 70px */
                                background-color: $dark;
                                color: $white;
                                padding: 8px 12px;
                                border-radius: 5px;
                                font-size: 13px;
                                white-space: nowrap;
                                opacity: 0;
                                pointer-events: none;
                                transition: opacity 0.2s ease, transform 0.2s ease;
                                transform: translateX(-10px); /* Petit effet de glissement */
                                box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
                                z-index: 9999; /* Au-dessus de tout */
                            }//:after
                
                            &:hover {
                                background: $dark; // Le fond du lien change
                                padding: 1.3rem;
                                margin-right: 1rem;
                                
                                &::after {
                                    opacity: 1; // On cible le ::after DU lien survolé
                                    visibility: visible;
                                    transform: translateX(0);
                                }
                            }//&:hover:
                
                        }//menu-link
        
        
                    }//menu
                    
                    .sidebar-footer{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .menu-link{
        
                            padding: none;
        
                        }//menu-link
        
                    }//sidebar-footer
                    
                    
                }//sidebar
            
                .text,
                .logo-text {
                    display: none;
                }//text,long-text
            
                .main-wrapper{
                    margin-left: 70px !important;
                    transition: width 0.3s ease;
                }//main-wrapper

                @media(max-width:900px){
                    .sidebar {
                        width: 240px; /* on évite mini en mobile */
                    // transform: translateX(-100%);
                            
                        .sidebar-header {
                            justify-content:space-between;
                
                            .collapse-btn {
                                transform: rotate(360deg);
                            }//collapse-btn
                
                        }//sidebar-header
                            
                        .menu{
                            .menu-link {
                                position: relative;
                                justify-content: flex-start;
                                overflow: visible; 
                                
                    
                                &::after {
                                    display: none !important;
                                }//:after
                    
                                &:hover {
                                    display: none !important;
                                }//&:hover:
                    
                            }//menu-link
                        }//menu
                            
                        .sidebar-footer{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            .menu-link{

                                padding: none;

                            }//menu-link

                        }//sidebar-footer
                            
                            
                    }//sidebar

                    .main-wrapper{
                        margin-left: 0 !important;
                    }//main-wrapper

                    .text,
                    .logo-text {
                        display: block;
                    }//text,long-text

                }//max-width:900
            
            }//.admin-layout.collapsed
    
        /*======COLLAPSED MODE===========*/


        @media (max-width: 900px) {

        display: flex;
            overflow: hidden;
            height: 100vh;

            .main-wrapper{
                margin-left: 0 !important;
            }//main-wrapper


        }//@media (max-width: 900px)
    
        
    }//admin-layout

    /* ===============================
    DARK MODE
    =================================*/
        &.dark {
            background-color: $dm-bg-main;
            color: $dm-text;

            &::-webkit-scrollbar-thumb {
                background: rgba($success, 0.5); // Apparaît doucement au survol
            }//::-webkit-scrollbar-thumb

            .sidebar,
            .topbar,
            .card,
            .admin-footer,
            .notification-dropdown {
                background: $dm-bg-surface;
                background: $dm-bg;
                color: $white;
                border-color: $mute;
            }//     
            
            .main-wrapper{
                background: $dm-bg-surface;
            }//main-wrapper

            .form-card{
                .login-card{
                    background: $dm-bg;

                    .header{
                        .name{
                            color: $success;
                        }
                    }
                }
            }//.form-card

            .header-refined h1{color: $white;}

            header h1, .card-title-fix, .table td, .table td strong, .kpi-card .kpi-value, .currency-mini-list span { color: $white; }
            .control-card, .table-responsive-wrapper, .sidebar-action-panel .sticky-aside-card { background: $dm-bg; border-color: rgba($white,0.1); }  


        }//&.dark

    //===== Dark mode=====/

    /* ===============================
    MAIN WRAPPER
    =================================*/
        .main-wrapper {
            width: 100%;
            position: relative !important;
            overflow: auto;
            background: rgba($color: $mute, $alpha: .25);
        }//.main-wrapper

    //===== main-wrapper=====/


    /* ===============================
    CONTENT
    =================================*/
        .card {
            background: #ffffff;
            padding: 20px;
            border-radius: 14px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.05);
        }//card

 // --- HEADER REFINÉ ---
    .header-refined {
        display: flex; 
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap; 
        gap: 2rem;

        .header-main-info{
            display: flex;
            gap: 1rem;
            align-items: center;
             .agency-back-action {
                background: $white !important;
                border: 1px solid $mute; width: 3.25rem; 
                height: 3.25rem; border-radius: 50%; 
                display: flex; align-items: center; 
                justify-content: center; 
                color: $dark; text-decoration: none; 
                transition: all .3s;
                &:hover { transform: translateX(-.5rem); background: rgba($primary, 0.04); color: $primary; }
            }
        }

        .breadcrumb-mini {
            font-size: 11px; text-transform: uppercase; letter-spacing: 1px; color: $gray; margin-bottom: 8px;
            i { font-size: 8px; margin-inline: 5px; }
            strong { color: $primary; }
        }

        h1 { font-size: 2rem; font-weight: 900; color: $dark; margin: 0; }
        
        .subtitle { color: $gray; font-size: 14px; margin-top: 5px; }
    } 


//----- STATS GRID ----
.stats-grid{

    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 1.5rem; width: 100%;
    margin-block: 2rem;

    // --- DESIGN DES CARD KPI DU PORTAIL SAAS ---
    .kpi-card {
        display: flex; 
        align-items: center; 
        gap: 1.25rem; 
        border-top: 4px solid $dark;
        
        .kpi-icon-wrapper { 
            width: 45px; 
            height: 42px; 
            background: rgba($mute, 0.35); 
            border-radius: 8px; 
            display: flex; 
            align-items: center; 
            justify-content: center; 
            font-size: 1.4rem; 
        }
        
        .kpi-data { 
            display: flex; 
            flex-direction: column; 
            gap: 4px; 
            
            .admin-bus-layout-add-label { 
                font-size: 10px; 
                font-weight: 800; 
                color: $gray; 
                text-transform: uppercase; 
            } 
        }
        
        .kpi-value { 
            font-size: 1.6rem; 
            font-weight: 900; 
            color: $dark; 
            font-family: monospace; 
        }

        &.kpi-success { 
            border-top-color: $success; 
            .kpi-icon-wrapper{
                background: rgba($color: $success, $alpha: .20);
                i{color: $success;}
            }
        }
        &.kpi-primary { 
            border-top-color: $primary; 
            .kpi-icon-wrapper{
                background: rgba($color: $primary, $alpha: .20);
                i{color: $primary;}
            }
        }
        &.kpi-danger { 
            border-top-color: $danger;
            .kpi-icon-wrapper{
                background: rgba($color: $danger, $alpha: .20);
                i{color: $danger;}
            } 
        }
    }
}


.card-title-fix { font-size: 13px; font-weight: 800; text-transform: uppercase; color: $dark; margin-bottom: 1.5rem; display: flex; align-items: center; gap: 8px; }

    

// --- BADGES APPLICATIFS MULTI-STATUTS ---
.pill-report-audit { 
    padding: 4px 10px; border-radius: 4px; font-size: 10px; font-weight: 800; text-transform: uppercase;
    &.closed { background: rgba($color: $success, $alpha: .20); color: $success; } // Actif
    &.open { background: rgba($color: $danger, $alpha: .20); color: $danger; }   // Expiré
    &.suspended { background: rgba($color: $primary, $alpha: .20); color: $primary; } // Suspendu manuellement
}

/* ===============================
FOOTER
=================================*/
        .admin-footer {
            background: #ffffff;
            border-top: 1px solid #e5e7eb;
            padding: 15px;
            text-align: center;
            font-size: 13px;
            color: #6b7280;
        }//admin-footer

}//#admin


.border-top-dashed{
    border-top: 1px dashed $mute;
    padding-top: 2rem;
}




