<a href="" class="menu-link" data-tooltip="Dashboard">
	<span class="icon">
		<i class="fa-solid fa-gauge"></i>
	</span>
	<span class="text">Dashboard</span>
</a>

<a href="#" class="menu-link" data-tooltip="Lignes">
	<span class="icon">
		<i class="fa-solid fa-folder-tree"></i>
	</span>
	<span class="text">Branch</span>
</a>

<a href="#" class="menu-link" data-tooltip="Utilisateurs">
	<span class="icon">
		<i class="fa-solid fa-users"></i>
	</span>
	<span class="text">Agents</span>
</a>

<a href="#" class="menu-link" data-tooltip="Utilisateurs">
	<span class="icon">
		<i class="fa-solid fa-bus-simple"></i>
	</span>
	<span class="text">Bus</span>
</a>

<a href="#" class="menu-link" data-tooltip="Utilisateurs">
	<span class="icon">
		<i class="fa-solid fa-route"></i>
	</span>
	<span class="text">Trajets</span>
</a>


<a href="#" class="menu-link" data-tooltip="Réservations">
	<span class="icon">
		<i class="fa-solid fa-file-circle-check"></i>
	</span>
	<span class="text">Réservations</span>
</a>

<a href="#" class="menu-link" data-tooltip="Colis">
	<span class="icon">
		<i class="fa-solid fa-box-open"></i>
	</span>
	<span class="text">Colis</span>
</a>

<a href="#" class="menu-link" data-tooltip="Colis">
	<span class="icon">
		<i class="fa-solid fa-cash-register"></i>
	</span>
	<span class="text">Caisse</span>
</a>

<a href="#" class="menu-link" data-tooltip="Colis">
	<span class="icon">
		<i class="fa-solid fa-hand-holding-dollar"></i>
	</span>
	<span class="text">Paiements</span>
</a>

<a href="#" class="menu-link" data-tooltip="Colis">
	<span class="icon">
		<i class="fa-solid fa-newspaper"></i>
	</span>
	<span class="text">Rapports</span>
</a>

<a href="#" class="menu-link" data-tooltip="Colis">
	<span class="icon">
		<i class="fa-solid fa-gear"></i>
	</span>
	<span class="text">Paramètres</span>
</a>
