{% extends "public/base.html.twig" %}

{% block body %}


	<section class="page-header container">
		<h1>Mot de passe oublié ?</h1>
		<p class="subtitle">
			Entrez votre email pour recevoir un lien de réinitialisation.
		</p>
	</section>
	<!--page header-->

	<section class="login-container">

		<div class="login-card">


			<form method="post">

				<div class="field mb-25">
					<label>Email</label>
					<input type="email" placeholder="exemple@voyagest.com" required>
				</div>

				<button class="btn btn-primary btn-full mb-25">Envoyer le lien</button>

			</form>

			<p class="back-link">
				<a href="{{path('security_login_index')}}">← Retour à la connexion</a>
			</p>
		</div>

	</section>


{% endblock %}
