{% extends "public/base.html.twig" %}


{% block body %}

	<div class="home">

		<section class="page-header hero">

			<div class="container hero-grid">

				<div class="hero-text">

					<h1>La plateforme digitale du transport et du business</h1>

					<p>
						Réservez simplement, gérez efficacement et gagnez des commissions avec MyDigitrans
					</p>

					<div class="hero-actions">

						<a class="btn btn-primary py-12">Rechercher un trajet</a>

						<a class="btn btn-white py-12">Créer une agence</a>

					</div>

				</div>
				<!--hero-text-->


				<div class="hero-image">

					<div class="hero-card">

						<h3 class="mb-10">Trouvez votre trajet en quelques secondes</h3>

						<form action="">

							<div class="field mb-10">
								<input placeholder="Ville de départ">
							</div>

							<div class="field mb-10">
								<input placeholder="Destination">
							</div>

							<div class="field mb-10">
								<input type="date">
							</div>

							<button class="btn btn-primary py-10 btn-full">Rechercher</button>
						</form>

					</div>
					<!--hero-card-->
				</div>
				<!--hero-image-->

			</div>
			<!--hero-grid-->

		</section>
		<!--hero-->

		<section class="features container">

			<h2 class="title">Découvrez les avantages</h2>

			<div class="features-grid">

				<div class="feature">
					<div class="icon">
						<i class="fa-solid fa-clock"></i>
					</div>
					<h3>Gain de temps</h3>
					<p>Réservez en quelques clics et suivez vos trajets</p>
				</div>
				<!--feature-->

				<div class="feature">
					<div class="icon">
						<i class="fa-solid fa-chart-simple"></i>
					</div>
					<h3>Gestion centralisée</h3>
					<p>Gérez vos billets, colis et paiements en un seul endroit</p>
				</div>
				<!--feature-->

				<div class="feature">
					<div class="icon">
						<i class="fa-solid fa-thumbs-up"></i>
					</div>
					<h3>Simplifié</h3>
					<p>Une interface intuitive pour une expérience optimale</p>
				</div>
				<!--feature-->

				<div class="feature">
					<div class="icon">
						<i class="fa-solid fa-sack-dollar"></i>
					</div>
					<h3>Business</h3>
					<p>Gagnez de l’argent grâce à votre réseau et à vos activités.</p>
				</div>
				<!--feature-->
			</div>
			<!--features-grid-->

		</section>
		<!--features-->

		<section class="how container">

			<h2 class="title">Comment ça marche</h2>

			<div class="steps">

				<div class="step">

					<h3>1</h3>

					<p>Recherchez votre trajet</p>

				</div>

				<div class="step">

					<h3>2</h3>

					<p>Choisissez votre siège</p>

				</div>

				<div class="step">

					<h3>3</h3>

					<p>Réservez et voyagez</p>

				</div>

			</div>

		</section>
		<!--how-->

		<section class="agency container text-center">
			<h2 class="title">Une solution pour les agences de transport</h2>

			<p class="mb-25">

				Gérez vos bus, trajets, ventes et statistiques sur une seule plateforme.

			</p>


			<a href="" class="btn btn-primary">Créer mon agence</a>


		</section>
		<!--agency-->

		<section class="business container">


			<h2 class="title">Gagnez de l'argent avec MyDigitrans</h2>

			<p class="mb-25">

				Devenez apporteur d'affaires et recevez des commissions.

			</p>

			<a href="" class="btn btn-success">Devenir partenaire</a>


		</section>
		<!--business-->

	</div>
	<!--home-->

{% endblock %}
