@use '../abstract/variables' as *;

.btn{
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
    display: flex;
    align-items: center;     /* centre verticalement */
    justify-content: center; /* centre horizontalement */

    &.btn-full{
        width: 100%;
    }//btn-full
}//btn

.btn-disabled {
    background: rgba($color: $gray, $alpha: .225);
    color: $gray;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: not-allowed;
}//btn-disabled

//CAS PARTICULIERS

.btn-white{
    color: $dark !important;

    &:hover{
        color: $white !important;
    }
}//btn-white