@use '../abstract/variables' as *;

.navbar {
    width: 100%;
    background: $white;
    height: 64px;
    padding: 1rem 0;
    z-index: 9999;
    
    .navbar-container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        height: 100% !important;
      

        .nav-logo{
            display: flex;
            align-items: center;
            
            img{
                max-width: 170px;
                transition: all .3s;
            }
            &:hover{
                img{
                    transform: scale(1.05);
                }
            }
        }//nav-logo


        .nav-menu {
            display: flex;
            justify-content: center;
            gap: 1.5rem;
            z-index: 9999; 
        }//nav-menu

        .nav-actions{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1rem;
            text-decoration: none;
            color: $dark;
            font-size: 1.3rem;
            
        }//nav-actions

        
        .nav-toggle{
            display: none;
            width: max-content;
            position: relative;
            flex-direction: column;
            gap: .45rem;
            transition: all .3s;            

            &:hover{
                cursor: pointer;
            }

            span{
                display: block;
                height: 2.725px;
                width: 35px;
                background: $primary;
                transition: all .3s;
            }//span

            &.active{
                padding-top: 8%;
                transform: rotate(450deg);
                gap: .75rem;
                span{
                    width: 25px;
                }
            }//&.active

        }//nav-toggle
        
    }//navbar-container

    a.menu-link{
        color: $dark;
        text-decoration: none;
        font-weight: 500;
        transition: .3s ease-in-out;
        &:hover {
            color: $primary;
        }

        &.active{
            color: rgba($color: $primary, $alpha: .65);
        }
    }//a  
    
    .mobile-menu{
        display: none !important;
        transition: all .3s;
        
        a.menu-link{
            padding-bottom: .25rem;
            border-bottom: 1px solid rgba($color: $dark, $alpha: .250);
        }
           

    }//mobile-menu        
    
    .overlay-dark{
        position: fixed;
        background-color: rgba($color: $dark, $alpha: .65);
        top: 65px;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        z-index: 8888;
        transition: all .3s;
        
        &.active{
            display: block;
        }

    }// .overlay-dark

}//navbar

/* Responsive */
@media (max-width: 1157px) {
    .navbar {
        .navbar-container {
            grid-template-columns: 1fr 2fr 1.25fr !important;
        }//navbar-container
    }//navbar
}//max-width:1157px

@media (max-width: 995px) {
    .navbar {
        .navbar-container {
            grid-template-columns: 1fr 2fr 1.5fr !important;
        }//navbar-container
    }//navbar
}//max-width:900px

@media (max-width: 920px) {
    .navbar {

        .navbar-container {
            grid-template-columns:  auto auto !important;
            .nav-menu,
            .nav-actions{
                display: none !important;
            }
        }//navbar-container
        
        .nav-toggle{
            display: flex !important;
            margin-left: auto;
        }//nav-toggle

        .nav-center {
            display: flex;
            flex-direction: column;
            gap: 1rem;          
            position: fixed;
            top: 77.5px;
            background-color: $white;
            padding: 2rem;
            right: -100%;
            transition: all .3s;
            border: 1px solid $mute;
            border-bottom-left-radius: 10%;

            &.active{
                right: 0%;
            }//active
            
        }//nav-center

        .nav-right{
            display: none;
        }//nav-right

        .mobile-menu{

            position: fixed;
            top: -100%;
            left: 50%;
            transform: translateX(-50%);
            background: $white;
            display: flex !important;
            flex-direction: column;
            padding: 2rem;
            gap: 2rem;
            justify-content: center;
            border: 1px solid rgba($color: $success, $alpha: .65);
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            font-weight: 500;
            z-index: 9999;

            &.active{
                 top: 65px;
            }

            .mobile-menu-actions{
                display: flex;
                justify-content: center;
                gap: 1rem;
                //flex-wrap: wrap;
                font-size: 1.515rem;
            }//mobile-menu-actions

        }//mobile-menu

    }//navbar

}//max-width:900px

