/*
    Couleur à utiliser dans cette application
*/
$primary: #ef6e17;
$danger:#d94516;
$success: #1684c5;
$dark : #0c326d;
$white : #fff;
$mute :  #afd3e7;
$black: #000;
$gray: #4b5563;


// Déclinaisons Dark Mode
$dm-bg-main: #071020;       // Un bleu encore plus profond pour le fond
$dm-bg-surface: darken($dark, 15.5%);      // Votre bleu $dark pour les éléments élevés
$dm-border: #1a468d;       // Une version plus claire de $dark pour les bordures
$dm-text: $white;
$dm-text-mute: $mute;